<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.memoblend.infrastructure.repository.mapper.DiaryMapper">

	<sql id="selectDiary">
		SELECT * FROM DIARIES
	</sql>

	<select id="findByYearAndMonth" resultType="com.memoblend.applicationcore.diary.Diary">
		<include refid="selectDiary" />
		WHERE YEAR(CREATED_DATE) = #{year}
			AND MONTH(CREATED_DATE) = #{month}
			AND IS_DELETED = false
	</select>

	<select id="findById" resultType="com.memoblend.applicationcore.diary.Diary">
		<include refid="selectDiary" />
		WHERE ID = #{id}
			AND IS_DELETED = false
	</select>

	<select id="findByUserId" resultType="com.memoblend.applicationcore.diary.Diary">
		<include refid="selectDiary" />
		WHERE USER_ID = #{userId}
			AND IS_DELETED = false
	</select>

	<insert id="add" parameterType="com.memoblend.applicationcore.diary.Diary" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO DIARIES (TITLE, CONTENT, CREATED_DATE, IS_DELETED, USER_ID)
		VALUES (#{title}, #{content}, #{createdDate}, false, #{userId})
	</insert>

	<update id="delete" parameterType="long">
		UPDATE DIARIES
		SET IS_DELETED = true
		WHERE ID = #{id}
	</update>

	<update id="update" parameterType="com.memoblend.applicationcore.diary.Diary">
		UPDATE DIARIES
		SET TITLE = #{title},
			CONTENT = #{content},
			CREATED_DATE = #{createdDate}
		WHERE ID = #{id}
	</update>
	
</mapper>