<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.memoblend.infrastructure.repository.mapper.DiaryMapper">

	<select id="findByYearAndMonth" resultType="com.memoblend.applicationcore.diary.Diary">
		SELECT * FROM diaries
		<where>
			<if test="year != null">
				YEAR(created_date) = #{year}
			</if>
			<if test="month != null">
				AND MONTH(created_date) = #{month}
			</if>
			AND is_deleted = false
		</where>
	</select>

	<select id="findById" resultType="com.memoblend.applicationcore.diary.Diary">
		SELECT * FROM diaries
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			AND is_deleted = false
		</where>
	</select>
	<select id="findByUserId" resultType="com.memoblend.applicationcore.diary.Diary">
		SELECT * FROM diaries
		<where>
			<if test="userId != null">
				user_id = #{userId}
			</if>
			AND is_deleted = false
		</where>
	</select>

	<insert id="add" parameterType="com.memoblend.applicationcore.diary.Diary" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO diaries (user_id, title, content, created_date)
		VALUES (#{userId}, #{title}, #{content}, #{createdDate})
	</insert>

	<update id="delete" parameterType="long">
		UPDATE diaries
		<set>
			<if test="isDeleted != null">
				is_deleted = true
			</if>
		</set>
		<where>
			<if test="id != null">
				id = #{id}
			</if>
		</where>
	</update>

	<update id="update" parameterType="com.memoblend.applicationcore.diary.Diary">
		UPDATE diaries
		<set>
			<if test="title != null">
				title = #{title},
			</if>
			<if test="content != null">
				content = #{content},
			</if>
			<if test="createdDate != null">
				created_date = #{createdDate}
			</if>
		</set>
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="userId != null">
				AND user_id = #{userId}
			</if>
		</where>
	</update>
	
</mapper>