<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.memoblend.infrastructure.repository.mapper.UserMapper">

	<sql id="selectUser">
		SELECT * FROM USERS
	</sql>

	<select id="findAll" resultType="com.memoblend.applicationcore.user.User">
		<include refid="selectUser" />
		WHERE IS_DELETED = false
	</select>

	<select id="findById" resultType="com.memoblend.applicationcore.user.User">
		<include refid="selectUser" />
		WHERE ID = #{id}
		AND IS_DELETED = false
	</select>

	<select id="findByAuthId" resultType="com.memoblend.applicationcore.user.User">
		<include refid="selectUser" />
		WHERE AUTH_ID = #{authId}
		AND IS_DELETED = false
	</select>

	<insert id="add" parameterType="com.memoblend.applicationcore.user.User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO USERS (NAME, IS_DELETED, AUTH_ID)
		VALUES (#{name}, #{isDeleted}, #{authId})
	</insert>
	
	<update id="delete" parameterType="long">
		UPDATE USERS
		SET IS_DELETED = true
		WHERE ID = #{id}
	</update>

	<update id="update" parameterType="com.memoblend.applicationcore.user.User">
		UPDATE USERS
		SET NAME = #{name}
		WHERE ID = #{id}
	</update>
	
</mapper>