<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.memoblend.infrastructure.repository.mapper.UserMapper">

	<select id="findAll" resultType="com.memoblend.applicationcore.user.User">
		SELECT * FROM users
		<where>
			<if test="isDeleted != null">
				is_deleted = false
			</if>
		</where>
	</select>

	<select id="findById" resultType="com.memoblend.applicationcore.user.User">
		SELECT * FROM users 
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="isDeleted != null">
				AND is_deleted = false
			</if>
		</where>
	</select>
	
	<insert id="add" parameterType="com.memoblend.applicationcore.user.User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO users (name, is_deleted)
		VALUES (#{name}, #{isDeleted})
	</insert>
	
	<update id="delete" parameterType="long">
		UPDATE users
		<set>
			<if test="isDeleted != null">
				is_deleted = true
			</if>
		</set>
		<where>
			<if test="id != null">
				id = #{id}
			</if>
		</where>
	</update>

	<update id="update" parameterType="com.memoblend.applicationcore.user.User">
		UPDATE users
		<set>
			<if test="name != null">
				name = #{name}
			</if>
		</set>
		<where>
			<if test="id != null">
				id = #{id}
			</if>
		</where>
	</update>
	
</mapper>